* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 480px;
}

h1 {
    padding: 10px;
    border-bottom: 2px solid black;
}

section {
    border: 2px solid black;
    margin: 10px;
    padding: 15px;
    min-height: 170px;
}

#author {
    border-top: 2px solid black;
    padding: 10px;
    padding-bottom: 20px;
}

body {
    max-width: 512px;
    border: 2px dashed red;
    margin: 0 auto;
}